@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply text-navy-900 bg-navy-50 antialiased selection:bg-primary-200 selection:text-primary-900;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-navy-300 rounded-full hover:bg-navy-400 transition-colors;
  }
}
